 {% extends 'base.html' %}
    {% block form %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Tambah Form</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/addTbl/" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="txtNama" id="txtNama" class="form-control" placeholder="Nama" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtKelas" id="txtKelas" class="form-control" placeholder="Kelas" maxlength="5" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtMtkul" id="txtMtkul" class="form-control" placeholder="Matkul" maxlength="50" required>
                        </div>
                        <div class="form-group">
                         <button type="submit" class="btn btn-outline-dark btn-block">Submit</button> 
                        </div>
                    </form>
                </div>
            </div>
    </div>
    {% endblock %}
    {% block tabel %}
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Tabel</h1> 
    <div class="table-responsive py-2">
        <table class="table table-striped table-hover">
           
            <thead class="table table-dark">
            <tr>
        <td>Id</td>
    <td>Nama</td>
    <td>Kelas</td>
    <td>Matkul</td>
    <td colspan="2">Aksi</td>
</tr>
</thead>
    <tbody>
    {% for Tabel in tampilin %}
    <tr>
        <th>{{ Tabel.id }}</th>
        <th>{{ Tabel.nama }}</th>
        <th>{{ Tabel.kelas }}</th>
        <th>{{ Tabel.matkul }}</th>
        <th> <a href="editTbl/{{ Tabel.id }}" class="btn btn-info" >Edit</a></th>
        <th> <a href="delTbl/{{ Tabel.id }}" class="btn btn-outline-danger" >Delete</a></th>
   
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    </div>
    {% endblock %}
  
   

    
</body>
</html>